* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}

body {
    line-height: 1.6;
    background: rgba(26, 11, 46, 1);
    color: rgb(255, 255, 255);
}

/* Navbar*/

.navbar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 20px 60px;
}
/*.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    background: transparent;
    
}*/

.nav-menu {
    display: flex;
    gap: 30px;
    
}

.nav-menu a {
    text-decoration: none;
    color: rgb(255,255,255);
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;

}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: white;

}

.logo-wave {
    background: linear-gradient(
        90deg,
        rgb(247, 233, 63),
        rgb(251, 9, 180),
        rgb(145, 0, 248)
  );
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  background-clip: text;

}

.btn-gradient {
    display:inline-flex;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    background: linear-gradient(
        90deg,
        rgb(247, 233, 63),
        rgb(251, 9, 180),
        rgb(145, 0, 248)
  );
  
  color: white;
  border-radius: 25px;
  font-weight: 600;
  text-decoration: none;
  transition: transform 0.3s ease;
  
}

.btn-arrow {
    width: 16px;
    height: 16px;
    transition: transform 0.3s ease;
}

.btn-gradient:hover .btn-arrow {
    transform: translateY(5px);

}

.nav-menu {
    justify-self: center;
}

#nav-toggle {
    display: none;
 
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger img {
    width: px;
    height: auto;

}

.desktop-only {
    display: inline-flex;

}

@media (max-width:576px) {

    .navbar {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        padding: 16px 20px;
    }

    .hamburger {
        display: block;
    }

    .desktop-only {
        display: none !important;
    
    }

    .nav-menu {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: #1a0b2e;
        flex-direction: column;
        align-items: center;
        display: none;
    }

    /*.btn-gradient {
        padding: 10px 16px;
        font-size: 14px;
    }*/
    
    #nav-toggle:checked + .hamburger + .nav-menu {
        display: flex;
    }
}

/* Banner*/

.banner {
    background-image: url("assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    padding: 120px 20px;
    text-align: center;
    position: relative;
    margin-bottom: 80px;
}

.podcast-visual {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    
}

.podcast-circle {
    width: 360px;
    height: 360px;
    border-radius: 50%;
    border: 5px solid rgba(248, 242, 242, 0);
    background: url("assets/hero-circle.png") center / contain no-repeat;
    position: relative;
    margin-top: 8px;

}

.mic-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: auto;
    transform: translate(-50%, -50%)
       
}

.badge {
    position: absolute;
    top: 18px;
    right: 18px;
    padding: 6px 14px;
    font-size: 12px;
    font-weight: 700;
    color: black;
    background-color: #00FF88;
    border-radius: 14px;
    letter-spacing: 0.5px;

}

.badge:hover {
    transform: translateY(-3px);
}

.cta-buttons {
    margin-top: 20px;
}

.btn-primary, .btn-secondary {
    padding: 12px 22px;
    margin: 10px;
    text-decoration: none;
    border-radius: 25px;
    
}

.btn-primary {
    background: linear-gradient(
        90deg,
        rgb(247, 233, 63),
        rgb(251, 9, 180),
        rgb(145, 0, 248)
    );
    color: white;
}

.btn-secondary {
    border: 2px solid green;
    background:transparent; 
    color: green;
}

.btn-primary,
.btn-secondary,
.btn-gradient {
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.btn-primary:hover,
.btn-secondary:hover,
.btn-gradient:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 25px rgba(0, 255, 136, 0.35);
}


/* About*/

.about {
    padding: 100px 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.03);
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.about h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color:white;
    
}

.about-text {
    max-width: 720px;
    margin: 16px auto;
    color:rgba(255, 255, 255, 0.8);
    line-height: 1.7;
}

.stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-top: 40px;

}

.stat {
    padding: 24px;
    background:transparent;
    border: none;
    text-align: center;
       
}

.stat h3 {
    font-size: 32px;
    font-weight: 700;
    color: #0f8;
    line-height: 20px;
    text-align: center;
    margin-bottom: 6px;

}

.stat p { 
    white-space: nowrap;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    
}

.star {
    color: #00FF88;
    font-size: 25px;
    margin-left: 4px;
    vertical-align: top;

}

@media (max-width:576px) {
    .stats {
        grid-template-columns: repeat(2, 1fr);
    }

}


/* Why Choose*/

section {
    padding: 100px 20px;
    text-align: center;
    background: rgba(255, 255, 255, 0.03);

}
section h2 {
    font-size: 36px;
    color: white;
    margin-bottom:60px;
  
}
.features {
    max-width: 1200px;
    margin: auto;

    display: grid;
    /*grid-template-columns: repeat(4, 1fr);*/
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;

    grid-auto-rows: 1fr;
    gap: 24px;

    grid-template-areas:
        "premium premium mobile mobile"
        "premium premium global global"
        "exclusive exclusive exclusive rich";
}

.card {
    height: 100%;
    padding: 32px;
    border-radius: 16px;
    
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.15);
    
    text-align: left;

}

.card img {
    width: 40px;
    margin-bottom: 16px;
    display: block;
    background: transparent;

}

.card h3 {
    font-size: 20px;
    margin-bottom: 12px;
    color: white;
    text-align: left;

}

.card p {
    font-size: 15px;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.8);
    text-align: left;
}

.card.premium { grid-area: premium; }
.card.mobile { grid-area: mobile; }
.card.global { grid-area: global; }
.card.exclusive { grid-area: exclusive; }
.card.rich { grid-area: rich; }


@media (max-width:576px) {

    .features {
        grid-template-columns: 1fr;
        grid-template-areas: unset;    
    }

    .features .card {
        grid-area: unset;
        width: 100%;

    }
}

/* Episodes*/

.featured-episodes {
    padding: 100px 20px;
    text-align: center;
    /*background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.15);*/
}

.featured-episode h2 {
    font: 36px;
    color: white;
    margin-bottom: 60px;
}

.episode-grid {
    max-width: 1100px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    
}

@media (max-width:576px) {
    .episode-grid {
        grid-template-columns: 1fr;
    }
}

.episode-card {
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    padding: 20px;
    overflow: hidden;
    text-align: left;
    color: white;

}

.episode-media {
    margin: -20px;
    margin-bottom: 16px;
}

.episode-media iframe {
    width: 100%;
    height: 200px;
    display: block;
    border-radius: 16px 16px 0 0;
}

.episode-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
 
.episode-card p {
    font-size: 15px;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.6) ;
    margin-bottom: 16px
}

.duration {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #00FF88;
    font-size: 14px;
    font-weight: 600;
    
}

.duration img {
    width: 16px;
    /*color: rgba(0, 255, 136, 1);
    text-align: left;*/
}

.episode-card:hover {
    transform: translateY(-4px);
    border-color: #00FF88;
}

/* Host*/

.host {
    /*display: flex;
    gap: 60px;*/
    padding: 100px 20px;
    max-width: 1100px;
    margin: auto;
    color: white;
    text-align: center;
    background-color: transparent;

}

.host-title {
    font-size: 36px;
    margin-bottom: 60px;
    color: white;
    
}

.host-content {
    display:flex;
    flex-direction: row;
    padding: 32px;
    align-items:center;
    gap: 60px;
    text-align: left;
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 16px;

}

.host-content img {
    width: 320px;
    border-radius: 20px;
    flex-shrink: 0;
    margin: 0;
    display: block;

}

.host-info {
    text-align: left;
    color: white;

}

.host-info h3 {
    font-size: 25px;
    color: white;
    margin-bottom: 16px;

}
.host-info p {
    font-size: 16px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 1px;
    margin-bottom: 24px;

}
.socials {
    display: flex;
    gap: 16px;

}

.socials img {
    width: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;

}

.socials img:hover {
    transform: translateY(-3px);
    
}

@media (max-width:576px) {
    .host-content {
        flex-direction: column;
        /*text-align: center;*/
        padding: 20px;
        gap: 20px;
    }
    .host-info {
        text-align: center;
    }
    
    .host-content img {
        width: 100%;
        max-width: 260px;
        margin: 0 auto;
    }

    .socials {
        justify-content: center;
        margin-top: 16px;
    }

    .host .socials {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        width: auto;
        margin: 0 auto;
    }

    .host .socials img {
        width: 16px;
    }
}



/* Footer*/

.footer {
    /*position: relative;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    *min-height: 420px;
    text-align: center;

    background-image: url("assets/footer-bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
        
}

.footer-content {
    /*position: relative;
    width: 100%;*/
    max-width: 1100px;
    margin: 0 auto;
    
}

.footer-logo {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 24px;

}

.footer .socials {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    flex-shrink: 1;
    margin-bottom: 24px;
    max-width: 100%;

}

.footer .socials a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-size: 12px;
    color:rgba(255, 255, 255, 0.6);
    text-decoration: none;
    flex-shrink: 1;
    
}

.footer .socials img {
    width: 22px;
    opacity: 0.85;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
    
}

.footer .socials img:hover {
    transform: translateY(-3px);
    opacity: 1;
}

.footer p {
    margin-top: 20px;
    font-size: 12px;
    opacity: 0.7;
    color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 576px) {
    .footer { 
        padding: 90px 20px 60px;

    }
    
    .footer-logo {
        font-size: 28px;
        /*padding-top: 100px;*/
    }

    .footer .socials {
        gap: 12px;
        flex-wrap: wrap;
    }

    .footer .socials a {
        font-size: 10px;
        gap: 12px;
    }

    .footer .socials img {
        width: 18px;
        
    }
}
